/*CSS para o Nav e o Footer de todas as páginas*/
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;   
}

.banner{
    width: 80%;
    height: 150px;
    position: relative;
    margin: 0 auto;    
    border: 2px solid green;
    
}

.banner img{
    width: 60%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    left: 20%;
}

nav{
    width: 80%;
    position: relative;
    margin: 0 auto;/*Da margem o suficiente na esquerda e direita para centralização*/
    margin-top: 10px;
    border: 2px solid green;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-image: linear-gradient(to bottom right, black, gray);
}

.navegation_links {
    width: 100%;
    position: relative;
}

.navegation_links li{
    display: inline-block;
    list-style: none;
    margin: 0 8%;
}

.navegation_links a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.navegation_links a:hover{
    color:green;
    text-decoration: underline;
    transition: 1s;
}

footer{
    width: 80%;
    position: relative;
    margin: 15px auto;

}

footer p{
    text-align: center;
}

@media screen and (max-width:480px){
    .banner, nav , footer{
        width: 90%;
    }
    .banner{
        height: 100px;
    }
    .navegation_links li {
        width: 25%;
        margin: 0 10%;
    }
    .navegation_links li a{
        text-align: center;
    }
}