/*CSS exclusivo da pagina index*/
main{
    width: 80%;
    position: relative;
    margin:0 auto;
    margin-top: 10px;
    border: 2px solid green;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(85, 84, 85));
}

main h1{
    text-align:justify;
    position: relative;
    margin:15px auto;
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

main p{
    text-align:justify;
    position: relative;
    margin:15px auto;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
}
.cursos{
    width: 80%;
    position: relative;
    margin:0 auto;
}

.cursos li{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    align-items: center;
    margin:5% 16%;
}

.cursos li button{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    color:rgb(250, 250, 250);
    font-size: 25px;
    font-weight: bold;
    border:none;
    outline: none;
    box-shadow:0px 0px 5px 4px #d4cece;
    cursor: pointer;
}
.cursos li button:hover{
    color:rgb(14, 14, 13);
}

.cursos li button:active{
    width: 145px;
    height: 145px;
    border-radius: 145px;
}

.cursos li a{
    text-decoration: none;
}

#html5{
    background-image: linear-gradient(to bottom right, orange, rgba(51, 34, 3, 0.623) ) ;
}

#html5:hover{
    background-image: linear-gradient(to top left, orange, rgba(51, 34, 3, 0.623) ) ;
}

#css3{
    background-image: linear-gradient(to bottom right, blue, rgba(51, 34, 3, 0.623) ) ;
}

#css3:hover{
    background-image: linear-gradient(to top left, blue, rgba(51, 34, 3, 0.623) ) ;
}

#javascript{
    background-image: linear-gradient(to bottom right, yellow, rgba(51, 34, 3, 0.623) ) ;
}

#javascript:hover{
    background-image: linear-gradient(to top left, yellow, rgba(51, 34, 3, 0.623) ) ;
}

#github{
    background-image: linear-gradient(to bottom right, red, rgba(51, 34, 3, 0.623) ) ;
}

#github:hover{
    background-image: linear-gradient(to top left, red, rgba(51, 34, 3, 0.623) ) ;
}

.aboutus{
    width: 80%;
    position: relative;
    margin: 0 auto;
    border: 2px solid green;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    background-image: linear-gradient(to right, rgba(128, 16, 16, 0.733), rgb(8, 78, 8));
}

.aboutus h2{
    width: 50%;
    position: relative;
    margin:0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.aboutus ul{
    width: 80%;
    margin: 0 auto;
}

.aboutus li{
    width: 30%;
    position: relative;
    display: inline-block;
    margin:0 9%;
}

.aboutus li p{
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width:480px){
    main, .aboutus{
        width: 90%;
    }

    main h1, main p{
        width: 90%;
    }

    .cursos li button{
        margin:3% 20%
    }

    .aboutus ul{
        width: 90%;
    }

    .aboutus li{
        width: 70%;
        margin:0 18% ;
    }
}