/*CSS exclusivo das paginas de ensino*/
main{
    width: 80%;
    margin:0 auto;
    position: relative;
    margin-top:10px;
    margin-bottom: 20px;
    border: 2px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(85, 84, 85));
}

h2{
    width: 80%;
    position: relative;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.bases{
    width: 99%;
    list-style:none;
    position: relative;
    left: 5px;
}

.bases li{
    width: 100%;
    font-weight: 500;
    border: 1px dashed green;  
}

.learn_box{
    width: 90%;
    position: relative;
    margin: 20px auto;
    border: gold 2px solid;
    background-image: linear-gradient(to bottom right, rgb(34, 34, 58), rgb(102, 102, 105));
}

.learn_box p, h3, h4{
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
    color: white;
}