main{
    width: 80%;
    margin:0 auto;
    position: relative;
    margin-top:10px;
    margin-bottom: 20px;
    border: 2px solid green;
    padding-bottom: 10px;
}

h2{
    width: 99%;
    text-align: center;
}

.bases{
    width: 99%;
    list-style:none;
    position: relative;
    left: 5px;
}

.bases li{
    width: 100%;
    font-weight: 500;
    border: 1px dashed green;  
}